parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Examples
        - src/DataSource/YiiDataSource.php

    ignoreErrors:
        # Ignore missing array value types (dynamic arrays by design)
        - identifier: missingType.iterableValue
